@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'inter', sans-serif;
}

body {
    background-color: rgb(0, 45, 0);
}

body .container nav a img{
    width: 250px;
}

section,
footer {
    padding: 0px;
    margin-top: 2%;
}

h3 {
    font-size: 50px;
    margin-top: 200px;

}

p {
    color: rgb(255, 255, 255);
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2%;
}

.btn {
    background-color: rgb(0, 107, 0);
    color: rgb(223, 201, 129);
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    transition: 0.1s;
}

.btn.animate-btn {
    animation: animate-outline 1s ease-out infinite;
}

.btn:hover {
    background-color: rgb(0, 83, 0);
}

@keyframes animate-outline {
    from {
        outline: 0px solid rgb(0, 107, 0);
    }

    to {
        outline: 15px solid rgb(112, 177, 112, 000);
    }
}

header {
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul a {
    color: white;
    margin: 0 16px;
    text-transform: uppercase;
    font-size: 12px;
    display: block;
}

nav ul a:not(.btn)::after {
    content: "";
    background-color: rgb(223, 201, 129);
    height: 5px;
    width: 0%;
    display: block;
    margin: 0 auto;
    transition: 0.3s;
}

nav ul a:hover::after {
    width: 100%;
}

/* menu mobile */

nav .menu-icon {
    cursor: pointer;
    font-size: 25px;
    color: white;
    display: none;
}

nav .close-icon {
    display: none;
    font-size: 30px;
    color: white;
}

/* end menu mobile */

.banner {
    display: flex;
    justify-content: center;
}

.banner .banner-text {
    margin: 150px;
    text-align: center;
    padding: 0;
}

.banner .banner-text h1 {
    font-size: 50px;
    color: white;
}

.banner .banner-text p {
    font-size: 20px;
    color: white;
    font-weight: lighter;
    margin: 18px 0;
}

/*   faça mais   */

.faca-mais .container {
    display: flex;
    align-items: center;
}

.faca-mais .faca-mais-text {
    width: 50%;
    padding: 0 50px;
}

.faca-mais .faca-mais-text h3 {
    font-size: 56px;
    color: white;
}

.faca-mais .faca-mais-text p {
    margin: 5px 0 10px 0;
    color: rgb(223, 201, 129);
}

.faca-mais .faca-mais-img {
    width: 50%;
    margin-top: 150px;
}

.faca-mais .faca-mais-img img {
    width: 100%;
}

.depoimentos h3 {
    text-align: center;
    color: white;
}

.depoimentos p {
    margin-bottom: 20px;
    text-align: center;
    color: rgb(223, 201, 129);
}

.cards {
    display: inline-flex;
    justify-content: center;
    margin: 3%;
}

.depoimentos .card-item {
    background-color: rgb(0, 107, 0);
    margin: 2%;
    border-radius: 14px;
    text-align: center;
    width: 300px;
    transition: 0.3s;
}

.depoimentos .card-item img {
    border-radius: 100%;
    width: 80px;
    display: block;
    margin: 10px auto;
}

.depoimentos .card-item .nome-user {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15 px;
}

.depoimentos .card-item .depoimento-user {
    font-size: 15px;
    padding: 0 15px;
}

.depoimentos .card-item .estrelas {
    margin: 15px 0;
    border-top: 2px solid rgba(0, 45, 0, 50%);
}

.depoimentos .card-item .estrelas i {
    color: rgb(223, 201, 129);
    margin-top: 15px;
    font-size: 20px;
}

.depoimentos .card-item:hover {
    background-color: rgb(0, 83, 0);
    margin-top: -5px;
}

.depoimentos .card-item:hover .nome-user,
.depoimentos .card-item:hover .depoimento-user,
.depoimentos .card-item:hover .estrelas i {
    color: white;
}

/* parceiros */

.parceiros {
    padding-bottom: 25px;
    margin: 0px auto;
    background-color: rgba(0, 83, 0, 0.2);
}

.parceiros h3 {
    text-align: center;
    color: white;
}

.parceiros .container div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 2%;
    flex-wrap: wrap;
}

/* footer */

.footer {
    background-color: rgba(0, 83, 0, 0.2);
    text-align: center;
}

.footer i {
    font-size: 19px;
    padding: 10px;
    margin: 3px;
    background-color: rgb(0, 107, 0);
    border-radius: 10px;
}

.footer p {
    color: rgb(223, 201, 129);
}

.footer .links{
    padding: 2%;
}

/* pagina sobre */

.sobre .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sobre .sobre-text {
    width: 50%;
    padding-right: 40px;
    margin-bottom: 185px;
}

.sobre .sobre-text h3 {
    color: white;
}

.sobre .sobre-text p {
    margin: 18px 0;
    color: rgb(223, 201, 129);
}

.sobre .sobre-img {
    width: 50%;
}

.sobre .sobre-img img {
    width: 100%;
    border-radius: 10px;
    margin-top: 25px;
}

/* end pagina sobre */

/* pagina serviços */

.servicos h3 {
    text-align: center;
    color: white;
}

.servicos .container>p {
    text-align: center;
    color: rgb(223, 201, 129);
}

.servicos .rows-cards {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 60px;
    flex-wrap: wrap;
    transition: 0.3s;
}

.servicos .row-card-item {
    background-color: rgb(0, 107, 0);
    width: 350px;
    padding: 20px;
    border-radius: 14px;
    margin: 20px;
}

.servicos .row-card-item p.nome-servico {
    margin: 5px 0;
}

.servicos .row-card-item p.descricao-servico {
    color: rgb(223, 201, 129);
}

.servicos .row-card-item:hover {
    background-color: rgb(0, 83, 0);
}

.servicos .row-card-item img {
    background-color: rgb(0, 107, 0);
    border-radius: 14px;
    width: 70px;
    padding: 9px;
}

/* end pagina serviços */

/* pagina de contato */

.contato-info {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.contato-info .lado-esquerdo-left-side {
    width: 50%;
    padding: 30px;
    background-color: rgb(0, 107, 0);
    border-radius: 14px;
    margin-right: 50px;
    height: fit-content;
}

.contato-info .lado-esquerdo-left-side div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contato-info .lado-esquerdo-left-side div i {
    font-size: 24px;
    margin-right: 20px;
    color: white;
}

.contato-info .lado-esquerdo-left-side p {
    font-size: 17px;
    color: rgb(223, 201, 129);
}

.contato-info .lado-direito-right-side {
    width: 50%;
}

.contato-info .lado-direito-right-side input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    height: 47px;
    padding: 15px;
    border-radius: 9px;
    transition: 0.3s;
    border: 5px solid white;
    color: black;
}

.contato-info .lado-direito-right-side input:focus,
.contato-info .lado-direito-right-side textarea:focus {
    border: 5px solid rgb(22, 199, 75);
}

.contato-info .lado-direito-right-side textarea {
    border-radius: 9px;
    margin-bottom: 10px;
    padding: 15px;
    width: 100%;
    transition: 0.3s;
    resize: none;
}

.contato-info.lado-direito-right-side button {
    border: none;
}

/* end pagina de contato */

@media(max-width: 830px) {

    /* menu mobile */
    .ul {
        position: fixed;
        top: 0;
        left: 0;
        background: rgb(22, 199, 75);
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        clip-path: circle(0% at 100% 0);
        transition: 0.7s;
    }

    ul.open {
        clip-path: circle(141.2% at 100% 0);
    }

    .ul a {
        margin: 10px 0;
        font-size: 16px;
    }

    nav .menu-icon {
        display: block;
    }

    nav .close-icon {
        display: block;
        position: absolute;
        top: 46px;
        right: 28px;
    }

    /* pagina home responsivo */

    .faca-mais .faca-mais-text {
        margin: 10px;
        padding: 0 20px;
        order: 1;
    }
        

    .faca-mais .container {
        flex-direction: column;
    }

    .faca-mais .faca-mais-text, 
    .faca-mais .faca-mais-img {
        width: 100%;
    }

    /* pagina contato responsivo */

    .contato .contato-info {
        flex-direction: column-reverse;
    }

    .contato-info .lado-direito-right-side,
    .contato-info .lado-esquerdo-left-side{
        width: 100%;
    }

    .contato-info .lado-direito-right-side{
        margin-bottom: 30px;
    }

}



